.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(50, 72, 146), rgba(114, 114, 63, 0.993));
    overflow: hidden;
}
/*.circle-red {
    width: 700px;
    height: 700px;
    background-color: red;
    position: absolute;
    bottom: -350px;
}
.circle-orange {
    width: 670px;
    height: 670px;
    background-color: orange;
}
.circle-yellow {
    width: 640px;
    height: 640px;
    background-color: rgba(245, 245, 86, 0.993);
}
.circle-green {
    width: 610px;
    height: 610px;
    background-color: green;
}
.circle-lightblue {
    width: 580px;
    height: 580px;
    background-color: rgb(0, 183, 255);
}
.circle-blue {
    width: 550px;
    height: 550px;
    background-color: rgb(57, 30, 207);
}  
.circle-violet {
    width: 520px;
    height: 520px;
    background-color: rgb(63, 16, 107);
}
*/
.rainbow {
    width: 600px;
    height: 600px;
    background: rgba(0, 0, 0, 0 100%);
    box-shadow: 0px 0px 0px 20px rgb(208, 0, 250),
                0px 0px 0px 40px rgb(46, 0, 250),
                0px 0px 0px 60px rgb(0, 179, 250),
                0px 0px 0px 80px rgb(0, 250, 42),
                0px 0px 0px 100px rgba(250,200,0,1),
                0px 0px 0px 120px rgba(233,250,0,1),
                0px 0px 0px 140px rgba(250,0,0,1);
    position: absolute;
    bottom: -350px;
    /*border: solid black;*/
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}