.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(16, 45, 58), rgb(206, 86, 56));
    overflow: hidden;
}
.circle-red {
    width: 700px;
    height: 700px;
    background-color: red;
    position: absolute;
    bottom: -350px;
}
.circle-orange {
    width: 600px;
    height: 600px;
    background-color: orange;
}
.circle-yellow {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 0, 0.301);
}
.circle-green {
    width: 400px;
    height: 400px;
    background-color: green;
}
.circle-blue {
    width: 300px;
    height: 300px;
    background-color: blue;
}
.circle-purple {
    width: 200px;
    height: 200px;
    background-color: purple;
}  
.circle-centre {
    width: 100px;
    height: 100px;
    background-color: violet;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}